:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}


.app-container {
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}

.menu-sidenav-content {
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0px;
}


.app-content {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  display: block;
}

:host ::ng-deep .mat-drawer-content {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}
