### POSTGRESQL
POSTGRES_PASSWORD=Pass@word!
POSTGRES_USER=postgres
POSTGRES_DB=postgres
HTTPS_CERT_PASSWORD=yourPassword

### Auth - Keycloak

AUTH_DB_USER=auth_user
AUTH_DB_NAME=auth
AUTH_DB_PASSWORD=Keycl0ak_DB_Pass!
KEYCLOAK_ADMIN_LOGIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://flowjudge.auth

FLOWJUDGE_DB_NAME=flowjudge_db
FLOWJUDGE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;
FLOWJUDGE_SERVICEBUS_CONNECTION_STRING=Endpoint=sb://servicebus-emulator;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;
SERVICEBUS_ACCEPT_EULA=N
SERVICEBUS_MSSQL_SA_PASSWORD=ServiceBus_DB_Pass123!
SERVICEBUS_EMULATOR_HTTP_PORT=5300

### Supervisor

SUPERVISOR_DB_USER=supervisor_user
SUPERVISOR_DB_PASSWORD=Supervisor_DB_Pass!



### API

API_DB_USER=api_user
API_DB_PASSWORD=Api_DB_Pass!
AUTH_BASE_URL=http://flowjudge.auth:8080
AUTH_BASEURL_INTERNAL=http://flowjudge.auth:8080
AUTH_REALM=flowjudge
AUTH_CLIENT_ID=webapp
#AUTH_CLIENT_SECRET=[YOUR_GENERATED_CLIENT_SECRET]
AUTH_REGISTRATION_CALLBACK_URI=https://localhost:10443/api/auth/register-callback
GITHUB_APP_ID=<your GitHub app ID>
GITHUB_CALLBACK_URL=https://localhost:10443/api/integrations/github/callback
